<app-header></app-header>
<main class="home-main-container">
  <section class="about-service-container">
    <h2 class="section-name">О нашем сервисе</h2>

    <p class="text-about">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae, consequuntur ex itaque magnam porro rerum. Amet iure unde veritatis!
    </p>

    <div class="service-item-container">
      <div *ngFor="let item of serviceItems; let i = index"
           [class.hidden]="i >= visibleItemsCount"
           [id]="item.id" class="service-item"
           [ngStyle]="{'background-image': 'url(' + item.image + ')'}">

        <div class="overlay">
          <button class="overlay-btn" (click)="goToServicePage(item.dbID)">{{ item.name }}</button>
        </div>

      </div>
    </div>

    <div class="more-button-container" *ngIf="visibleItemsCount < serviceItems.length">
      <button class="more-button" (click)="showMoreItems()">Показать все услуги</button>
    </div>
  </section>
</main>


