<app-header></app-header>
<main class="main-container">
  <section class="preview-container">
    <div class="text-container">
      <p>Hi Place это лучший сервис для поиска своего мастера</p>
    </div>

    <div class="client-master-container">
      <div class="client">
        <p>Выберите подходящего мастера или салон именно вам и запишитесь на процедуру</p>
      </div>
      <div class="empty">
        <p>VS</p>
      </div>
      <div class="master">
        <p>Создайте профиль чтобы увеличить колличество клиентов</p>
      </div>
    </div>
  </section>

  <section class="about-service-container">
    <h2 class="section-name">О нашем сервисе</h2>

    <p class="text-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae, consequuntur ex itaque magnam porro rerum. Amet iure unde veritatis!</p>

    <div class="service-item-container">
      <div id="manicure" class="service-item">
        <div class="overlay">
          Маникюр / педикюр
        </div>
      </div>

      <div id="haircut" class="service-item">
        <div class="overlay">
          Стрижка / укладка
        </div>
      </div>

      <div id="eyebrow" class="service-item">
        <div class="overlay">
          Брови
        </div>
      </div>

      <div id="makeup" class="service-item">
        <div class="overlay">
          Макияж
        </div>
      </div>

      <div id="tattoo" class="service-item">
        <div class="overlay">
          Тату / пирсинг
        </div>
      </div>

      <div id="haircut-man" class="service-item">
        <div class="overlay">
          Мужская стрижка
        </div>
      </div>


    </div>

    <div class="more-button-container">
      <button class="more-button">Перейти к всем услугам</button>
    </div>
  </section>
</main>

<app-footer></app-footer>



