<app-header></app-header>
<main class="main-container">
  <section class="preview-container">
    <div class="text-container">
      <p>Hi Place это лучший сервис для поиска своего мастера</p>
    </div>

    <div class="client-master-container">
      <div class="client">
        <p>Выберите подходящего мастера или салон именно вам и запишитесь на процедуру</p>
      </div>
      <div class="empty">
        <p>VS</p>
      </div>
      <div class="master">
        <p>Создайте профиль чтобы увеличить колличество клиентов</p>
      </div>
    </div>
  </section>

  <section class="about-service-container">
    <h2 class="section-name">О нашем сервисе</h2>

    <p class="text-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae, consequuntur ex itaque magnam porro rerum. Amet iure unde veritatis!</p>

    <div class="service-item-container">
      <div id="manicure" class="service-item">
        <div class="overlay">
          Маникюр / педикюр
        </div>
      </div>

      <div id="haircut" class="service-item">
        <div class="overlay">
          Стрижка / укладка
        </div>
      </div>

      <div id="eyebrow" class="service-item">
        <div class="overlay">
          Брови
        </div>
      </div>

      <div id="makeup" class="service-item">
        <div class="overlay">
          Макияж
        </div>
      </div>

      <div id="tattoo" class="service-item">
        <div class="overlay">
          Тату / пирсинг
        </div>
      </div>

      <div id="haircut-man" class="service-item">
        <div class="overlay">
          Мужская стрижка
        </div>
      </div>


    </div>

    <div class="more-button-container">
      <button class="more-button">Перейти к всем услугам</button>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h4>О нас</h4>
      <p>Мы помогаем вам найти лучших бьюти мастеров и салоны красоты в вашем городе.</p>
    </div>
    <div class="footer-links">
      <h4>Полезные ссылки</h4>
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h4>Контакты</h4>
      <!--      <p>Адрес: ул. Пример, 123</p>-->
      <p>Телефон: +7 (123) 456-78-90</p>
      <p>Email: kiohi2000gmail.com</p>
    </div>
    <div class="footer-social">
      <h4>Мы в соцсетях</h4>
      <a href="#"><img src="./assets/image/icons/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="./assets/image/icons/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="./assets/image/icons/telegram.png" alt="Telegram"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Hi Place. Все права защищены.</p>
  </div>
</footer>



