<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h4>Про нас</h4>
      <p>Ми допомагаємо вам знайти кращих б'юті майстрів і салони краси у вашому місті</p>
    </div>
    <div class="footer-links">
      <h4>Корисні посилання</h4>
      <ul>
        <li><a >Головна</a ></li>
        <li><a href="#">Про нас</a></li>
        <li><a href="#">Послуги</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h4>Контакти</h4>
      <p>Телефон: <a class="contact-data" href="tel:+71234567890">+7 (123) 456-78-90</a></p>
      <p>Пошта: <a class="contact-data" href="mailto:kiohi2000@gmail.com">kiohi2000@gmail.com</a></p>

    </div>
    <div class="footer-social">
      <h4>Ми у соцмережах</h4>
      <a href="#"><img src="./assets/image/icons/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="./assets/image/icons/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="./assets/image/icons/telegram.png" alt="Telegram"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Hi Place. Усі права захищені.</p>
  </div>
</footer>
