<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<app-header></app-header>
<main class="main-service-container">
  <section class="side-panel">
    <div class="service-type-item" *ngFor="let serv of typesOfService">
      <p>
        <button class="service-type-item-btn" (click)="loadServiceItem(serv)">{{ serv.name }}</button>
      </p>
      <div class="service-item-block" *ngIf="!serv.serviceItem || serv.serviceItem.length > 1">
        <div class="service-item-item" *ngFor="let item of serv.serviceItem">
          <p><button class="service-item-item-btn" (click)="getUsersByServiceItemId(item.id)">{{ item.name }}</button></p>
        </div>
      </div>
    </div>
  </section>

  <section class="users-container">
    <div class="user" *ngFor="let user of users">
      <div class="left">
        <img id="user-logo" [src]="user.logoURL">

        <p id="user-name">{{ user.name }}</p>

        <button id="user-phone" (click)="revealPhone(user)">
          <a href="tel:{{ user.phone }}">{{ user.hiddenPhone }}</a>
          <p id="user-phone-call">Подзвонити</p>
        </button>

        <div id="user-avg">
          <ng-container *ngFor="let star of getStars(user.avg)">
            <i class="fa-star" [ngClass]="star" style="color: gold;"></i>
          </ng-container>
        </div>
<!--        <p id="user-avg">{{ user.avg }} зірок</p>-->

        <div class="social-feedback-container">
          <div class="social">
            <a [href]="user.instagramLink" target="_blank">
              <img class="social-icon" src="assets/image/icons/instagram.png" *ngIf="user.instagramLink">
            </a>

            <a [href]="user.tiktokLink" target="_blank">
              <img class="social-icon" src="assets/image/icons/tiktok.png" *ngIf="user.tiktokLink">
            </a>

            <a [href]="user.viberLink" target="_blank">
              <img class="social-icon" src="assets/image/icons/viber.png" *ngIf="user.viberLink">
            </a>
          </div>
          <div class="feedback">
            <a href="#">Відгуки</a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="discount-mode-container">
          <div class="discount">
            <p *ngIf="user.discountWithPromo">
              -{{ user.discountWithPromo }}% за промокодом HiPlace
            </p>
          </div>
          <div class="mode">
            <p>MAX</p>
          </div>
        </div>
        <div class="example-container">
          <div class="scroll-container">
            <img *ngFor="let image of images" [src]="image" alt="example image">          </div>
        </div>
        <div class="show-user-container">
          <button class="show-user-btn" (click)="goToUserPricePage(user.id)">Переглянути прайс</button>
        </div>
      </div>
    </div>
  </section>

</main>
