<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<section class="user-block-container">
  <img [src]="user.logoURL" [alt]="user.name" class="user-logo-img">

  <p id="user-name">{{ user.name }}</p>

  <div id="user-avg">
    <ng-container *ngFor="let star of getStars(user.avg)">
      <i class="fa-star" [ngClass]="star" style="color: gold;"></i>
    </ng-container>
  </div>

  <button id="user-phone" (click)="revealPhone(user)">
    <a href="tel:{{ user.phone }}">{{ user.hiddenPhone }}</a>
    <p id="user-phone-call">Подзвонити</p>
  </button>

  <div class="checkbox-container">
    <p class="hint-text">Мои услуги</p>
    <p *ngIf="user.homeVisit">Выезд на дом  <span>&#10003;</span></p>
    <p *ngIf="user.onlineCounseling">Онлайн косультация  <span>&#10003;</span></p>
    <p *ngIf="user.atSalon">Принимаю в салоне  <span>&#10003;</span></p>
  </div>

  <div>
    <p class="hint-text">Мои соц сети</p>
  </div>
  <div class="social-feedback-container">

    <div class="social">
      <a [href]="user.instagramLink" target="_blank">
        <img class="social-icon" src="assets/image/icons/instagram.png" *ngIf="user.instagramLink">
      </a>

      <a [href]="user.tiktokLink" target="_blank">
        <img class="social-icon" src="assets/image/icons/tiktok.png" *ngIf="user.tiktokLink">
      </a>

      <a [href]="user.telegramLink" target="_blank">
        <img class="social-icon" src="assets/image/icons/telegram.png" *ngIf="user.telegramLink">
      </a>

      <a [href]="user.viberLink" target="_blank">
        <img class="social-icon" src="assets/image/icons/viber.png" *ngIf="user.viberLink">
      </a>
    </div>
    <div class="feedback">
      <a href="#">Відгуки</a>
    </div>
  </div>

  <div class="address-container">
    <p class="hint-text">Мы находимся</p>
    <div class="address-item" *ngFor="let address of addresses">
      <button id="address-item-map-btn"
              (click)="goToProfile()">
        {{ address.city }}, {{ address.road }} {{ address.houseNumber }}
      </button>
    </div>
  </div>
</section>
