<header class="header-container">
  <div class="nav-button-container">
    <button class="nav-button" (click)="goToHomePage()">HiPlace</button>
    <button class="nav-button" (click)="goToAboutUsPage()">Про нас</button>
  </div>

  <div class="logo-container" (click)="goToHomePage()">
    <img src="./assets/image/header/logo.png"
         alt="Hi Place"
         class="logo-img">
  </div>

  <div class="auth-container">
    <button class="login-button" (click)="goToRegisterPage()">Зареєструватися</button>
    <button class="sign-in-button" (click)="goToLoginPage()">Увійти</button>
  </div>
</header>
